old/Microcontroller_Segmentation/*
old/OD_cfg.pickle
old/output/*
old
inria.tar
persons
deepcover/src/MyScripts/model.h5
deepcover/src/MyScripts/yolov3.weights
Predict/model.h5
Predict/yolov3.weights
INRIAPerson
FeatruesSpecifications/handy
FeatruesSpecifications/images
FeatruesSpecifications/Hand-Detection
FeatruesSpecifications/Legs
FeatruesSpecifications/shape_predictor_68_face_landmarks.dat
yolo-labels
